:root{
    --bkg-red-rose:#b3494d;
    --orange-lighter:#f59678;
    --bkg-beige-color:#ffa50040;

}
#home-page{
    background-color: var(--bkg-beige-color);

}
#default-navbar{
    background-color: var(--bkg-red-rose);
}
#default-navbar .navbar-brand{
    color: #0c19cf;
}

